body {
    background: url("../img/bgi.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top , #292929 60% , rgb(116, 116, 116));
    border-radius: 300px;
    padding: 15px;
    gap: 25px;
    height: 50px;
    width: calc(100% - 20%);
    position: relative;
    margin-top: 7px;
}

.menu-items {
    display: flex;
    gap: 15px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.menu-icon:hover {
    font-size: 35px;
    text-shadow: 0 0 7px white;
}

.cn-txt {
    margin-right: auto;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 6px white;
    user-select: none;
}

.menu-items > a {
    color: #dbdbdb;
    font-weight: bolder;
    background-color: black;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
    padding: 7px 10px;
    text-shadow: 0 0 5px white;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.menu-items > a:hover {
    background-color: #fff;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 0 0 6px black;
}

.menu-items > a:visited {
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #2c2c2c;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        top: 75px;
        right: 10px;
        z-index: 10;
        text-align: center;
    }

    .menu-items.show {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-right: 10px;
        text-shadow: 0 0 5px white;
    }
}