body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
    padding: 0;
}

.img-container {
    display: flex;
    height: 80px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: calc(80px - 50);
    background-color: black;
    opacity: 50%;
}

.parent-of-h {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.abt-server {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.img-container>img {
    width: 50px;
    height: 50px;
    padding: 15px;
    transition: 0.4s;
}

.img-container>img:hover {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.first-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    background-color: lightgray;
}
.first-parent {
    background-color: black;
    width: fit-content;
    height: 250px;
}
